.cta{

  position:relative;

  padding:220px 80px 80px;

  overflow:hidden;

  z-index:10;
}

/* ========================================
   CONTENT
======================================== */

.cta-content{

  text-align:center;
}

/* BADGE */

.cta-badge{

  display:inline-flex;

  align-items:center;

  gap:10px;

  padding:14px 24px;

  border-radius:999px;

  background:
    rgba(255,255,255,0.04);

  border:
    1px solid rgba(255,255,255,0.08);

  color:#d4d4d8;

  font-size:0.9rem;
}

/* TITLE */

.cta-content h2{

  margin-top:40px;

  font-size:7rem;

  line-height:0.95;

  letter-spacing:-5px;

  font-weight:700;

  color:white;
}

.cta-content h2 span{

  color:#8f8f95;

  font-style:italic;
}

/* BUTTON */

.cta-btn{

  margin-top:50px;

  padding:22px 42px;

  border-radius:999px;

  background:white;

  color:black;

  font-size:1rem;

  font-weight:600;

  transition:0.35s ease;
}

.cta-btn:hover{

  transform:translateY(-3px);

  background:#d4d4d8;
}

/* ========================================
   MARQUEE
======================================== */

.marquee{

  margin-top:180px;

  overflow:hidden;

  border-top:
    1px solid rgba(255,255,255,0.08);

  border-bottom:
    1px solid rgba(255,255,255,0.08);

  padding:26px 0;
}

.marquee-track{

  display:flex;

  width:max-content;

  gap:80px;

  animation:marqueeMove 18s linear infinite;
}

.marquee-track span{

  font-size:3rem;

  letter-spacing:0.08em;

  color:#2d2d31;

  white-space:nowrap;
}

@keyframes marqueeMove{

  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-50%);
  }

}

/* ========================================
   FOOTER
======================================== */

.footer{

  margin-top:120px;

  display:flex;

  justify-content:space-between;

  gap:60px;
}

/* LEFT */

.footer-logo{

  font-size:3rem;

  font-weight:700;

  color:white;
}

.footer-left p{

  margin-top:20px;

  max-width:320px;

  color:#8f8f95;

  line-height:1.9;
}

/* RIGHT */

.footer-right{

  display:flex;

  gap:30px;

  align-items:flex-start;
}

.footer-right a{

  color:#d4d4d8;

  transition:0.3s ease;
}

.footer-right a:hover{

  color:white;
}

/* COPYRIGHT */

.copyright{

  margin-top:80px;

  padding-top:30px;

  border-top:
    1px solid rgba(255,255,255,0.08);

  color:#71717a;

  font-size:0.9rem;
}

/* ========================================
   RESPONSIVE
======================================== */

@media(max-width:1000px){

  .cta-content h2{

    font-size:5rem;
  }

  .footer{

    flex-direction:column;
  }

}

@media(max-width:768px){

  .cta{

    padding:140px 20px 60px;
  }

  .cta-content h2{

    font-size:3.8rem;

    letter-spacing:-2px;
  }

  .marquee-track span{

    font-size:2rem;
  }

  .footer-right{

    flex-wrap:wrap;
  }

}